@use 'sass:color';
@use 'sass:math';
@use 'variables';
@use 'colors';

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// @mixin neon($neonColor:$primary) {
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px $neonColor,
//     0 0 21px #fff,
//     0 0 42px $neonColor,
//     0 0 82px $neonColor,
//     0 0 92px $neonColor,
//     0 0 102px $neonColor,
//     0 0 151px $neonColor;
// }

@mixin flexColumns ($cols:2) {
  flex: 1 0 math.div(100%, $cols);
}

@mixin fullWidth($_limit:100vw) {
  & {
    box-sizing: border-box;
    width: $_limit;
    --delta: calc(#{$_limit} - #{variables.$grid-width});
    margin-left: calc( max(var(--delta),var(--gutter-xl)) * -0.5);
    // padding-left: var(--gutter);
    // padding-right: var(--gutter);
  }

  @media (max-width: (variables.$grid-width)) {
      margin-left: calc(var(--gutter) * -1);
  }
  // @media (min-width: variables.$breakpoint) {
  //   --delta: calc(#{$_limit} - #{variables.$grid-width});
  //   margin-left: calc( max(var(--delta),var(--delta)*-1) * -0.5);
  // }
}
@mixin fullHeight($limit:calc(100vh - $navbar-height)) {
  height: $limit;
  max-height: $limit;
}

@mixin inverse {
  & {
    background-color: var(--hero-background);
    color: var(--hero-text-color);
    h1,h2,h3,h4,a {
      color: var(--hero-bold-color);
      &:hover {
        color: var(--hero-text-color);
      }
    }   
  }
}

@mixin hero($c1,$c2,$c3,$c4) {
  @include inverse();

  & {
    background-color: $c1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:
    radial-gradient(ellipse 100% 100% at 0% 100%, $c4 0px, transparent 100%),
    radial-gradient(ellipse 100% 200% at 0% 10%, $c3 0px, transparent 100%),
    conic-gradient(from 0.75turn at 81% 138%, transparent 0%, $c2 20%, transparent 40%, transparent 99%),
    ;    
  }
  &>* {
    z-index: 1;
  }

}


@function encodecolor($string) {
  @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
  @return $string;
}
