@use '../library' as lib;

@use "../base/molecules";

// @use "../components/masthead";

@use '../components/project-list';

@use '../components/post-list';

body.home {

  #header {
    position: absolute;
    background: transparent;
  }

   #bio {
      box-sizing: border-box;
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      margin-bottom: var(--gutter-xl);


      p.portrait {
        overflow: hidden;

        img {
          display: block;
        }

      }

      p.large-type {
        margin-top: 0;
      }

      #killabmc {
        position: absolute;
        z-index: 100;
        width: 25vw !important;
      }

      &:before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        filter: url(#noiseFilter) opacity(10%);
      }

      @media (min-width:lib.$breakpoint) {
        $pic-w: 62vh;
        $pic-h: 100vh;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        // $pic-size: calc(lib.$grid-width * .33);

        h1,h2,p {
          width: calc((100vw - $pic-w) - var(--gutter-xl) - var(--gutter-xl));
        }
        p.large-type:last-of-type {
          margin: 0;
        }
        h1,h2 {
          margin: 0 0 var(--gutter);
        }

        p.portrait {
          position: absolute;
          right: 0;
          top: 50%;
          width: $pic-w;
          height: $pic-h;
          margin: ($pic-h * -.5) 0 0 0;
          img {
            height: 100%;
          }
        }

      }

    }

  #gradient-canvas, #masthead canvas {
    // display: none;
    position: absolute;
    z-index: -1;
    $scaler: 1;
    width: 100% * $scaler;
    height: 100% * $scaler;
    left: 50% * ($scaler - 1) * -1;
    top: 50% * ($scaler - 1) * -1;
    opacity: .15;

    //full color
    --gradient-color-1: var(--primary);
    --gradient-color-2: var(--secondary);
    --gradient-color-3: var(--tertiary);
    --gradient-color-4: var(--primary);

    // grayscale
    // --gradient-color-1: #{lib.$neutral-10};
    // --gradient-color-2: #{lib.$neutral-30};
    // --gradient-color-3: #{lib.$neutral-50};
    // --gradient-color-4: #{lib.$neutral-10};

  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    h2 {
      grid-column: span 2;
    }

    @media (min-width:lib.$breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      h2 {
        grid-column: span 3;
      }
    }

    .project {
      flex-direction: column-reverse;
      justify-content: flex-end;

      header {
        h3 {
          text-align: center;
        }

        p,ul {
          display: none;
        }

      }

      figure, .figure {
        img {
          aspect-ratio: 1;
        }
      }

    }

  }
}
