@use '../library' as lib;

@use "../components/masthead";

@use '../components/project-list';

@use '../components/post-list';

body.home {
  #header {
    // position: absolute;
    // background: transparent;

    // .logo {
    //     color: var(--hero-text-color);
    //     &:hover {
    //         color: var(--well-text-color);
    //     }
    // }

    // #menu {
    //   a {
    //     color: var(--hero-text-color);
    //     &:hover {
    //       color: var(--link-color);
    //     }
    //   }
    // }

  }

  main {
    padding-top: 0;
  }

  #topper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--body-background);

    // &:after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 2;
    //     filter: url(#noiseFilter) opacity(10%);
    // }

    h1 {
      z-index: 3;

      // @include lib.hero(
      //     lib.$primary,
      //     lib.adjust(lib.$secondary,$alpha:-0.2),
      //     lib.adjust(lib.$tertiary,$alpha:-0.0),
      //     lib.adjust(lib.$primary,$alpha:-0.5),
      //     );

      $c1: lib.$primary;
      $c2: lib.$secondary;
      $c3: lib.$tertiary;
      $c4: lib.$primary;
      background-color: $c1;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image:
      radial-gradient(ellipse 100% 100% at 0% 100%, $c4 0px, transparent 100%),
      radial-gradient(ellipse 100% 200% at 0% 10%, $c3 0px, transparent 100%),
      conic-gradient(from 0.75turn at 81% 138%, transparent 0%, $c2 20%, transparent 40%, transparent 99%),
      ;    

      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

    }
    @media (min-width:lib.$breakpoint) {
      min-height: calc(81vh);
      height: auto;
      // margin-bottom: 0;
    }

    @media (max-width:lib.$breakpoint) {
      padding-top: var(--navbar-height);
    }

    @media (min-width:lib.$breakpoint) {
      h1, h2, p.bio {
        // max-width: lib.$grid-width;
      }
    }
  }

  #gradient-canvas, #masthead canvas {
    display: none;
    position: absolute;
    z-index: 0;
    $scaler: 1;
    width: 100% * $scaler;
    height: 100% * $scaler;
    left: 50% * ($scaler - 1) * -1;
    top: 50% * ($scaler - 1) * -1;

    //full color
    // --gradient-color-1: var(--primary);
    // --gradient-color-2: var(--secondary);
    // --gradient-color-3: var(--tertiary);
    // --gradient-color-4: var(--primary);

    // grayscale
    --gradient-color-1: #{lib.$neutral-10};
    --gradient-color-2: #{lib.$neutral-30};
    --gradient-color-3: #{lib.$neutral-50};
    --gradient-color-4: #{lib.$neutral-10};

  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // padding-left: var(--gutter);
    // padding-right: var(--gutter);
    // padding: lib.$gutter;
    // grid-row-gap: lib.$gutter;
    // grid-column-gap: lib.$gutter;

    h2 {
      // display: none;
      grid-column: span 2;
    }

    @media (min-width:lib.$breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      h2 {
        grid-column: span 3;
      }
    }

    // @media (min-width:lib.$breakpoint-widescreen) {
    //   grid-template-columns: repeat(4, 1fr);
    //   h2 {
    //     grid-column: span 4;
    //   }
    // }

    .project {
      flex-direction: column-reverse;
      justify-content: flex-end;

      header {
        h3 {
          text-align: center;
        }

        p {
          display: none;
        }

      }

      figure, .figure {
        img {
          aspect-ratio: 1;
        }
      }

    }

  }
}
