<footer id="footer">
    <div id="contact">
        <h3>Contact</h3>
        <nav>
            <a href="#" data-part1="b" data-part2="brianmcconnell" data-part3="me" data-part4="Website inquiry" class="link-email">
                {% include "images/social-icons/email.svg" %}
            </a>
            <a href="https://www.linkedin.com/in/mrbmc" class="link-linkedin">
                {% include "images/social-icons/linkedin.svg" %}
            </a>
            <a href="https://www.strava.com/athletes/773650" class="link-strava">
                {% include "images/social-icons/strava.svg" %}
            </a>
            <a href="https://github.com/mrbmc" class="link-github">
                {% include "images/social-icons/github.svg" %}
            </a>
            <a href="https://adplist.org/mentors/brian-mcconnell" class="link-adplist">
                {% include "images/social-icons/adplist.svg" %}
            </a>
        </nav>
    </div>
    <div id="colophon">
        <h3>Colophon</h3>
        <nav>
            <a href="/colophon/">Colophon</a>
            <a href="/privacy/">Privacy</a>
        </nav>
        <p class="updated-timestamp">© <span id="mod-date"></span> Brian McConnell</p>
    </div>
</footer>
<svg viewBox="0 0 128 128" xmlns='http://www.w3.org/2000/svg' id="noiseImage">
  <filter id='noiseFilter'>
   <feTurbulence type="turbulence" baseFrequency="0.5" numOctaves="8" stitchTiles="stitch"/>
    <feColorMatrix type="matrix" values="
      0   0   0   1   0
      0   0   0   1   0
      0   0   0   1   0
      1   1   1   1   0" />
  </filter>
</svg>
<script type="text/javascript" language="javascript">

const date = new Date(Date.parse(document.lastModified));
document.getElementById('mod-date').innerText = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;

function initEmails(){
    Array.from(document.getElementsByClassName('link-email')).map(link => {
      var attrs = link.dataset;
      link.setAttribute(
        "href",
        `mailto:${attrs.part1}@${attrs.part2}.${attrs.part3}?subject=${attrs.part4}`
      );
  })
}

function initAnimations() {
    Array.from(document.getElementsByClassName('blur-in')).map(element => {
        element.classList.toggle('in',true);
    });
    Array.from(document.getElementsByClassName('fade-in')).map(element => {
        element.classList.add('in',true);
    });
};


window.addEventListener('load', function(e) {
    "use strict";
    initEmails();
    initAnimations();
},false);
</script>