@use '../library' as lib;

body > footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    // justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: calc(var(--gutter-xl) * 2) var(--gutter) var(--gutter);
    font-size: lib.$small-font-size;

    color: var(--muted-foreground);
    h3 {
        display: none;
    }

    &>div {
        padding: var(--gutter) 0 0;
        nav {
            display: flex;
            flex-direction: column;
            flex-direction: row;
            justify-content: center;
            gap: var(--gutter);
            a {
                // color: var(--accent-foreground);
                // margin: 0 (lib.$gutter * 0.5);
                &:hover {
                    // color: var(--white);
                }
            }
        }
        p,a {
            text-align: center;
            margin: 0;
        }
    }
    #colophon {
    }
    .logo {
        svg {
            width: 1.62em;
        }
    }
    #contact {
        nav {
            $itemsize: 1em;

            a {
                width: $itemsize;
                height: $itemsize;
                overflow: hidden;
            }
            img,svg {
                width: $itemsize;
                height: $itemsize;
            }
            a.link-linkedin svg {
                filter: saturate(0);
            }
            a.link-medium svg {
                filter: invert(100%);
            }
            a.link-strava svg {
                filter: saturate(0);
            }
        }
    }
    @media (max-width: lib.$breakpoint) {
        flex-direction: column;
        #colophon {
            nav {
                justify-content: center;
            }
        }
    }
}
