@use '../library' as lib;

#header {
  $logo-size: 1.62rem;

  box-sizing: border-box;
  z-index: 100;
  padding: 0 0.5rem;
  height: var(--navbar-height);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: top lib.$speed lib.$easing;

  @media (max-width:lib.$breakpoint) {
    margin-left: 0;
  }

  a {
    font-family: lib.$navbar-font-family;
    font-weight: lib.$navbar-font-weight;
  }

  .logo,.nav-top {
    width: $logo-size;
    height: $logo-size;
    z-index: 30;
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  a.nav-top {
    position: fixed;
    z-index: 20;
    margin-left: -0.19rem;
    @include lib.glass();
    border-radius: var(--border-radius-xl);
    box-sizing: content-box;
    padding: .19rem;
    transition: transform lib.$speed lib.$easing;
    transform-origin: 50% 0% 0;
  }

  #menu {
    display: flex;

    a {
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      transition: all lib.$speed lib.$easing;
      padding: 0 calc(var(--gutter) * .5);
      margin: 0 0 0 var(--gutter);
      border-radius: var(--border-radius);
      text-decoration: none;

      color: var(--navbar-foreground);
      &:hover {
        background: var(--muted-background);
        color: var(--navbar-emphasized);
      }

      // &:hover {
      //   background: var(--muted-background);
      //   color: var(--muted-foreground);
      // }

      &.nav-cv, &.nav-resume, &.nav-photos {
        display: none;
      }

      @media (max-width:lib.$breakpoint) {
        margin: 0;
      }

    }

    @media (min-width: lib.$breakpoint) {
      width: 38%;
      justify-content: space-between;
      margin-right: var(--gutter);
      a {
        margin-left: 0;
      }
      
    }

  }

}

.active_nav, 
body.about #header #menu a[href="/about/"], 
body.portfolio #header #menu a[href="/portfolio/"], 
body.work #header #menu a[href="/portfolio/"], 
body.blog #header #menu a[href="/blog/"], 
body.resume #header #menu a[href="/about/"] {
  background: var(--accent-background);
  color: var(--accent-foreground);
}
