---
layout: layout.html
bodyclass: blog post
parallaxHeading: true
cssfile: "css/pages/post.css"
---

<h1>{{ title }}</h1>
<p class="date">
    {{ date | date: "%B %d, %Y" }}
    &bull;
    {{ content | timeToRead }} to read
</p>

{% if masthead-image or masthead-video %}
<figure {% if parallaxHeading == true %}data-fade="100" data-parallax="81"{% endif %}>
    {% if masthead-video %}
    <video src="{{masthead-video}}" autoplay loop muted preload="auto" playsinline type="video/mp4"></video>{% else 
    %}<img class="blur-in fade-in" src="{{ masthead-image }}" alt="{{ masthead-title }}" onload="this.classList.toggle('in',true);">
    {% endif %}
</figure>
{% endif %}

<a id="content"></a>

{{ content }}

<nav class="related-posts">
    <h2>Related Posts</h2>
    {% assign similar = collections.post | similarPosts: page.inputPath, tags %}
    {% for post in similar limit: 3 %}
    <p class="post">
        <span class="date">{{ post.data.date | date: "%Y-%m-%d" }}</span>
        <a href="{{ post.url }}">
            {{ post.data.title }}
        </a>
    </p>
    {% endfor %}
</nav>

<script type="text/javascript">
let prevScrollpos = window.pageYOffset;
let header = document.getElementById("header");
function onScroll() {
    document.getElementsByTagName('body')[0].classList.toggle('scrolled',window.pageYOffset >= (window.innerHeight * 0.62));
}

window.addEventListener('load', function(e) {window.addEventListener('scroll',onScroll);});

</script>
