@use '../library' as lib;

@use "../base/molecules";
@use "../components/masthead";
@use "../components/sticky-nav";
@use "../components/lightbox";

body.blog.post {
  transition: background (lib.$speed * 4) lib.$easing;

  #masthead {

    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: var(--gutter-xl);
    height: auto;
    background: transparent;
    flex-direction: column-reverse;
    color: var(--body-foreground);

    p.summary {
      display: none;
    }

    @media (orientation: landscape) {
      flex-direction: column-reverse;
      justify-content: space-between;

    }

    &>figure,&>.figure {
      position: static;
      width: 100vw;
      margin-bottom: var(--gutter);
      img {
        display: block;
      }
      @media (orientation: landscape) {
        margin-left: calc(var(--gutter-xl) * -1);
      }
      @media (orientation: portrait) {
        margin-left: calc(var(--gutter) * -1);
      }
    }

  }

  main {

    h2[id] {
      padding-top: var(--navbar-height);
    }

    & > .date {
      color: var(--muted-foreground);
    }

    figure {
      margin: 0 0 var(--gutter-xl) 0;

      img {
        aspect-ratio: 2.16;
        object-fit: cover;
      }

    }

    p,li {
      line-height: 1.62;
    }

    .pullright,.pull-right {
        clear: both;
        @media (orientation: landscape) {
            width: 38%;
            float: right;
            margin: 0 0 0 var(--gutter);
        }
    }

  }

  .related-posts {
    padding: lib.$gutter-xl 0;
    margin: lib.$gutter-xl 0;
  }

  &.scrolled {
    background: var(--body-background);
  }

}


@media print {

}