@use 'sass:math';
@use '_colors.scss';
@use '_grid.scss';
@use '_animation.scss';

body.blog #post-list {
	padding-top: grid.$gutter-xl;
}

#post-list {

	@media (max-width: grid.$breakpoint) {
	    margin-top: 0;
	}

	.post {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin: 0 0 grid.$gutter-xl 0;
		column-gap: grid.$gutter;

        &:hover {
			cursor: pointer;
            z-index: 3;
            figure {
            }
            img {
	            transform: scale(1.01);
                box-shadow: $shadow;
                filter: saturate(120%);
            }           
        }

		& > * {
			flex: 0 0 auto;
		}
		h3 {
			margin-bottom: 0;
			font-size: 1.2rem;
		}
		p.date {
			margin-bottom: 0;
			@include small-type();
			color: colors.$text-secondary;
		}
		summary {
			// flex-basis: 75%;
			width: calc(62% - grid.$gutter);
		}
		img {
			// display: flex;
			// flex-basis: 25%;
			width: 38%;
			border-radius: $border-radius;
	        transition: all animation.$speed animation.$easing;
		}

	}	
}

body.blog.post {

	@include item-detail();

	#masthead {
		@media (min-width: grid.$breakpoint) {
		    padding-right: 38vw;
		}
	}

	.related-posts {
		padding: grid.$gutter-xl 0;
		margin: grid.$gutter-xl 0;
	}

	transition: all (animation.$speed * 4) animation.$easing;

	background: hsl(colors.$brand-hue,100%,92%);
	&.scrolled {
		background: colors.$body-background;
	}
}

