
body.colophon {
	.chip {
		width: 19%;
		height: 4.5em;
		padding: .25em;
	    box-sizing: border-box;
		display: inline-block;

		&.black {
			background: var(--black);
			color: var(--gray-light);
		}
		&.gray100 {
			background: var(--gray-dark);
			color: var(--gray-light);
		}
		&.gray500 {
			background: var(--gray-mid);
			color: var(--gray-light);
		}
		&.gray900 {
			background: var(--gray-light);
		}
		&.white {
			background: var(--white);
			box-shadow: inset 0 0 0 1px var(--gray-light);
		}
		&.brand {
			background: var(--brand-color);
			color: var(--white);
		}
		&.complement {
			background: var(--brandComplement);
			color: var(--white);
		}
		&.accent {
			background: var(--brandAccent);
		}
		&.secondary {
			background: var(--brandSecondary);
		}
		&.brand80 {
			background: $brand-color-80;
			color: transparent;
		}
		&.complement80 {
			background: $brand-complement-80;
			color: transparent;
		}
		&.accent80 {
			background: $brand-accent-80;
			color: transparent;
		}
		&.secondary80 {
			background: $brand-secondary-80;
			color: transparent;
		}
		&.brand20 {
			background: $brand-color-20;
			color: var(--gray-light);
			color: transparent;
		}
		&.complement20 {
			background: $brand-complement-20;
			color: transparent;
		}
		&.accent20 {
			background: $brand-accent-20;
			color: transparent;
		}
		&.secondary20 {
			background: $brand-secondary-20;
			color: transparent;
		}
	}
}