
body.colophon {
	.chip {
		width: 19%;
		height: 4.5em;
		padding: .25em;
	    box-sizing: border-box;
		display: inline-block;

		&.black {
			background: var(--black);
			color: var(--gray-light);
		}
		&.gray-dark {
			background: var(--gray-dark);
			color: var(--gray-light);
		}
		&.gray-mid {
			background: var(--gray-mid);
			color: var(--gray-light);
		}
		&.gray-light {
			background: var(--gray-light);
		}
		&.white {
			background: var(--white);
			box-shadow: inset 0 0 0 1px var(--gray-light);
		}
		&.brand {
			background: var(--brand-color);
			color: var(--white);
		}
		&.complement {
			background: var(--brand-complement);
			color: var(--white);
		}
		&.accent {
			background: var(--brand-accent);
		}
		&.brand80 {
			background: transparentize($brand-color,0.2);
			color: transparent;
		}
		&.complement80 {
			background: transparentize($brand-complement,0.2);
			color: transparent;
		}
		&.accent80 {
			background: transparentize($brand-accent,0.2);
			color: transparent;
		}
		&.brand20 {
			background: transparentize($brand-color,0.8);
			color: var(--gray-light);
			color: transparent;
		}
		&.complement20 {
			background: transparentize($brand-complement,0.8);
			color: transparent;
		}
		&.accent20 {
			background: transparentize($brand-accent,0.8);
			color: transparent;
		}
	}
}