@use 'sass:math';

// GRID
// --------------------------------------------------
$gutter:          			1rem;
$gutter-xl:            		3rem;

$columns:             		6;
$width:               		40rem;
$column:         			math.div(($width - (($columns - 1) * $gutter)), $columns);
$margin: 			  		calc((100vw - $width) / 2);

$breakpoint-widescreen:      	1201px;
$breakpoint-widescreen-1:    	($breakpoint-widescreen - 1px);
$breakpoint-desktop:         	961px;
$breakpoint-desktop-1:       	$breakpoint-desktop - 1;
$breakpoint-portrait:        	769px;
$breakpoint-portrait-1:      	$breakpoint-portrait - 1;
$breakpoint-phone:           	480px;
