@use "library" as lib;

.card {
    box-sizing: border-box;
    width: 100%;
    padding: var(--gutter);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background: var(--card-background);
    color: var(--card-text-color);

    h1,h2,h3,h4,strong,b {
        color: var(--card-bold-color);
    }
}

.well {
    margin-top:  var(--gutter);
    margin-bottom: var(--gutter);
    box-sizing: border-box;
    padding: var(--gutter);
    background: var(--well-background);
}

.hero {
    box-sizing: border-box;
    padding: var(--gutter);

    @include lib.fullWidth(100vw);

    @include lib.inverse();

    li {
        list-style: none;
    }

    @media (min-width: lib.$breakpoint) {
        padding: var(--gutter) lib.$grid-margin;
    }
}

blockquote,.blockquote {
    padding: 0 var(--gutter);
    margin: var(--gutter) 0 var(--gutter) calc(var(--gutter) * -1);
    border-left: solid 4px var(--text-secondary);
    color: var(--text-secondary);

    @media (max-width: lib.$breakpoint) {
        margin-left: 0;
    }
}

.button, button {
    background: var(--primary);
    color: var(--on-primary);

    padding: calc( var(--gutter) * .5 ) var(--gutter);
    border-radius: var(--border-radius);
    text-decoration: none;
    box-shadow: inset 0px 1px 1px 0px var(--white-semi), lib.$shadow;

    &:hover {
      color: var(--hero-bold-color);
    }
}
table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0em;
  margin-bottom: var(--gutter);
  // background: var(--body-background);
  overflow-x: scroll;
  display: block;

  th, td {
    padding: .5em 1em;
  }

  th {
    font-weight: lib.$bold-font-weight;
    line-height: 1;
    font-size: lib.$small-font-size;
    border: 0 solid var(--border-color);
    border-width: 0 0 1px 0;
    text-align: left;
    color: var(--text-secondary);
  }

  td {
    font-size: lib.$small-font-size;
    vertical-align: top;
  }

  &.rotate {
    @include lib.transpose_table;

    @media (min-width:lib.$breakpoint) {
    }

  }

}

