body {
  margin:0;
  background: #201c1D;
  background: linear-gradient(180deg, hsl(180,21%,21%) 0%, hsl(180,100%,0%) 100%);
  font-family: "HelveticaNeue","Helvetica Neue","Helvetica",sans-serif;
}
canvas {
  width: 100vw;
  height: 100vh;
}
#debugger {
  background: #00000080;
  color: #0cF;
  border: transparent;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 55;
  font-family: monospace;
  padding: 0;
  margin: 0;
  height: 6em;
}
#controls {
  text-align: right;
  padding: 0.5rem;
  border-radius: .25rem;
  background: #201c1D80;
  color: #808080;
  position: fixed;
  bottom: .25rem;
  right: .25rem;
}
label span {
  font-family: monospace;
  color: #FFF;
}
input.slider {
    appearance: none;
    width: 300px;
    height: 0.5rem;
    background: #000000;
    outline: none;
    border-radius: 1rem;
}

input.slider::-webkit-slider-thumb {
  appearance: none;
  width: .25rem;
  height: 1rem;
  // border-radius: 1rem;
  background: #00CCCC;
  cursor: pointer;
}