@use '../library' as lib;

#post-list {

    @media (max-width: lib.$breakpoint) {
        margin-top: 0;
    }

    .post {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: lib.$gutter;
        margin-bottom: lib.$gutter-xl;
        transition: all lib.$speed lib.$easing;

        header {
            flex-basis: 81%;
            h3 {
                margin: 0;
                a {
                    transition: color lib.$speed lib.$easing;
                //   color: var(--text-secondary);
                }
            }
            p {
                color: var(--text-secondary);
                margin-bottom: 0;
            }
        }
        figure,.figure {
            flex-basis: 19%;
            border-radius: lib.$border-radius;
            overflow: hidden;
            margin-bottom: 0;
            a {
              display: block;
            }
            img {
              display: block;
            }
        }

        &:hover {
            cursor: pointer;
            z-index: 3;
            figure,.figure {
                box-shadow: lib.$shadow;
                filter: saturate(110%);
            }           
            transform: scale(1.02);
        }
    }   
    &:has(article:hover) {
        article:not(:hover) header {
            h3 {
                a {
                  color: var(--text-secondary);
                }
            }
        }
        
    }
}
