---
permalink: /blog/rss.xml
baseURL: https://www.brianmcconnell.me
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
<channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}</link>

    {% for page in collections.post %}
        <item>
            <title>{{ page.data.title }}</title>
            {% if description %}<description>{{ description }}</description>{% endif %}
            <pubDate>{{ page.data.date.toISOString() }}</pubDate>
            <author>Brian McConnell</author>
            <link>{{ baseURL }}{{ page.url | url }}</link>
            {% if page.date["masthead-image"] %}<image>{{ baseURL }}{{ page.data["masthead-image"] | url }}</image>{% endif %}
        </item>
    {% endfor %}
</channel>
</rss>